[submodule "themes/hugo-bootstrap-5"]
	path = themes/hugo-bootstrap-5
	url = https://github.com/NotWoods/hugo-bootstrap-5.git
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
